
.qwe1{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(200,100,100, 0.2);
  overflow:auto;
}
.qwe2{
  position: relative;
  left: 50px;
  top: 50px;
  width: 200px;
  height: 200px;
  background: rgba(100,200,100, 0.2);
}
.qwe3{
  position: absolute;
  left: 100px;
  top: 100px;
  width: 200px;
  height: 200px;
  background: rgba(100,100,200, 0.2);
}
.qwe4{
  position: absolute;
  left: 150px;
  top: 150px;
  width: 200px;
  height: 200px;
  background: rgba(200,200,100, 0.2);
}
.qwe5{
  position: absolute;
  left: 200px;
  top: 200px;
  width: 200px;
  height: 200px;
  background: rgba(100,200,200, 0.2);
}
.qwe6{
  position: absolute;
  left: 250px;
  top: 250px;
  width: 200px;
  height: 200px;
  background: rgba(200,100,200, 0.2);
}
